<%= form_with(model: invoice, local: true) do |form| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, id: :invoice_amount %>
  </div>

  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company, id: :invoice_company %>
  </div>

  <div class="field">
    <%= form.label :contragent %>
    <%= form.text_field :contragent, id: :invoice_contragent %>
  </div>

  <div class="field">
    <%= form.label :currency %>
    <%= form.text_field :currency, id: :invoice_currency %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :invoice_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
